  
  <div class="flex justify-content-between flex-wrap p-1" style="background-image: linear-gradient(to bottom right , var(--primary-50),var(--primary-100));">
    <div class="flex align-items-center justify-content-center font-bold border-round m-2">
      <span style="text-align: center" class="text-primary"> {{ pageTitle }}</span>
    </div>
    <div class="flex align-items-center justify-content-center  font-bold border-round gap-1">
      <button pButton pRipple label="Submit" *ngIf="onSubmit && docAccSubmit" (click)="onSaveClick()"></button>
      <button pButton pRipple label="GridView" *ngIf="onGrid && docAccGridView" (click)="onGridClick()"> </button>
      <button pButton pRipple label="Add New" *ngIf="onAddNew && docAccAddNew " (click)="onAddNewClick()"></button>
      <button pButton pRipple label="Clear" *ngIf="onClear && docAccClear" (click)="onClearClick()"></button>
      <button pButton pRipple label="Edit" *ngIf="onEdit && docAccEdit" (click)="onEditClick()"></button>
      <!-- <button pButton pRipple label="Edit" class="p-button-success" *ngIf="onView && docAccView" (click)="onViewClick()"></button> -->
      <button pButton pRipple label="Save & Approve" *ngIf="onSaveApprove" (click)="onSaveApproveClick()"></button>
      <button pButton pRipple label="Save & Print" *ngIf="onSavePrint" (click)="onSavePrintClick()"></button>
    </div>
</div>
<p-toast (onClose)="onMessageClose()"></p-toast>
 