<div class="justify-content-center">
  <div class="flex flex-column gap-2">
    <div [ngClass]="lookupAxis === true ? 'formgroup-inline' : 'displayBlock'">
      <label
        class="border-round white-space-nowrap overflow-hidden text-overflow-ellipsis"
        htmlFor="{{ labelName }}"
        title="{{ labelName }}"
        >{{ labelName }}</label
      >

      <p-autoComplete
        [(ngModel)]="inputModel"
        [suggestions]="filteredOption"
        (completeMethod)="filterCountry($event)"
        [field]="filterName" (onBlur)="onblur(inputModel)"
        (onSelect)="onLookUpSelect(inputModel)"
      ></p-autoComplete>
      <small
        id="username-help"
        class="errorMessages"
        pTooltip="{{ errorMessages }}"
        tooltipPosition="top"
        >{{ errorMessages }}</small
      >
    </div>
    <!-- {{inputModel |json}} -->
  </div>
</div>
<style>
  .displayBlock {
    display: contents;
  }
</style>
