<div class="">
  <div>
    <app-header
      [pageTitle]="pageTitle"
      [onSubmit]="onSubmit"
      [onGrid]="true"
      [onAddNew]="false"
      [onClear]="onClear"
      [onEdit]="onEdit"
      [onView]="onView"
      (submitClick)="onSaveClick()"
      (clearClick)="onClearClick()"
      [redirectToGrid]="redirectToGrid"
      #headers
    ></app-header>
  </div>
  <div class="div-padding">
    <p-scrollPanel [style]="{ width: '100%', height: ' calc(100vh - 164px)' }">
      <div class="grid">
        <div class="field col-12 md:col-5 sm:col-4 lg:col-3 xl:col-3">
          <app-inputtext
            [(inputModel)]="servicegroup.servicegroupname"
            [labelName]="'Service Group Name'"
            (onBlur)="onGetErrorMsgs('servicegroupname', true)"
            errorMessages="{{errorMsgs.servicegroupname}}"
            [disabled]="!isEditable"
          ></app-inputtext>
          <app-inputtext
            [(inputModel)]="servicegroup.displayorder"
            [labelName]="'Display Order:'"
            [disabled]="!isEditable"
          ></app-inputtext>
          <app-dropdown
            [(inputModel)]="servicegroup.status"
            [labelName]="'Status'" [options]="statusList"
            [disabled]="!isEditable" [optionLabel]="'subMasterName'"
            [optionValue]="'subMasterId'"
          ></app-dropdown>
          <app-inputtext
            [(inputModel)]="servicegroup.code"
            [labelName]="'Alias/Code'"
            [disabled]="!isEditable"
          ></app-inputtext>
        </div>
      </div>
    </p-scrollPanel>
  </div>
</div>
<app-saving #saving></app-saving>
