<div class="">
  <div>
    <app-header
      [pageTitle]="pageTitle"
      [onSubmit]="onSubmit"
      [onGrid]="true"
      [onAddNew]="false"
      [onClear]="onClear"
      [onEdit]="onEdit"
      [onView]="onView"
      (submitClick)="onSaveClick()"
      (clearClick)="onClearClick()"
      [redirectToGrid]="redirectToGrid"
      #headers
    ></app-header>
  </div>

  <p-scrollPanel>
    <div class="div-padding">
      <div class="grid">
        <div class="col-12 sm:col-12 md:col-12 lg:col-4 xl:col-4">
          <div class="card">
            <div class="grid">
              <div class="col-12 md:col-12 lg:col-12 xl:col-12">
                <p-fieldset legend="Manufacture" [toggleable]="true">
                  <div class="formgrid grid">
                    <div class="field col-12 md:col-12 lg:col-12 xl:col-12">
                      <app-inputtext
                        [labelName]="'Manufacture Name'"
                        [(inputModel)]="manufacture.manufacturename"
                        (onBlur)="onGetErrorMsgs('manufacturename', true)"
                        errorMessages="{{ errorMsgs.manufacturenameReq }}"
                        [disabled]="!isEditable"
                        [pKeyFilter]="'alpha'"
                      ></app-inputtext>
                    </div>

                    <div class="field col-12 md:col-12 lg:col-12 xl:col-12">
                      <app-dropdown
                        [labelName]="'Status'"
                        [options]="statusList"
                        [disabled]="pageMode != 'EDIT'"
                        [(inputModel)]="manufacture.status"
                        [optionLabel]="'subMasterName'"
                        [optionValue]="'subMasterId'"
                      ></app-dropdown>
                    </div>
                    <div class="field col-12 md:col-12 lg:col-12 xl:col-12">
                      <app-inputtext
                        [labelName]="'Manufacture Code'"
                        [(inputModel)]="manufacture.manufacturecode"
                        (onBlur)="onGetErrorMsgs('manufacturecode', true)"
                        errorMessages="{{ errorMsgs.manufacturecodeReq }}"
                        [disabled]="!isEditable"
                      ></app-inputtext>
                    </div>
                    <div class="field col-12 md:col-12 lg:col-12 xl:col-12">
                      <app-textarea
                        [labelName]="'Manufacture Description'"
                        [(inputModel)]="manufacture.manufacturedesc"                        
                        [disabled]="!isEditable"
                      ></app-textarea>
                    </div>
                  </div>
                </p-fieldset>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 sm:col-12 md:col-12 lg:col-4 xl:col-4">
          <div class="card">
            <div class="grid">
              <div class="col-12 md:col-12 lg:col-12 xl:col-12">
                <p-fieldset legend="Region" [toggleable]="true">
                  <div class="formgrid grid">
                    <div class="field col-12 md:col-4 lg:col-12 xl:col-12">
                      <app-inputtext
                        [labelName]="'Country'"
                        [pKeyFilter]="'alpha'"
                        [(inputModel)]="manufacture.regioncountry"
                        [disabled]="!isEditable"
                      ></app-inputtext>
                    </div>
                    <div class="field col-12 md:col-4 lg:col-12 xl:col-12">
                      <app-inputtext
                        [labelName]="'State'"
                        [pKeyFilter]="'alpha'"
                        [(inputModel)]="manufacture.regionstate"
                        [disabled]="!isEditable"
                      ></app-inputtext>
                    </div>
                    <div class="field col-12 md:col-4 lg:col-12 xl:col-12">
                      <app-inputtext
                        [labelName]="'City'"
                        [pKeyFilter]="'alpha'"
                        [(inputModel)]="manufacture.regioncity"
                        [disabled]="!isEditable"
                      ></app-inputtext>
                    </div>
                  </div>
                </p-fieldset>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 sm:col-12 md:col-12 lg:col-8 xl:col-8">
          <div class="card">
            <div class="grid">
              <div class="col-12 md:col-12 lg:col-12 xl:col-12">
                <p-fieldset legend="Contact" [toggleable]="true">
                  <div class="formgrid grid">
                    <div class="grid">
                      <div class="field col-12 md:col-12 lg:col-12 xl:col-12">
                        <app-textarea
                          [labelName]="'Address'"
                          [(inputModel)]="manufacture.contactaddress"
                          [disabled]="!isEditable"
                        ></app-textarea>
                      </div>
                      <div class="field col-12 md:col-4 lg:col-4 xl:col-4">
                        <app-inputtext
                          [labelName]="'Phone 1'"
                          [pKeyFilter]="'num'"
                          [(inputModel)]="manufacture.contactphone1"
                          [disabled]="!isEditable"
                          maxlength="10"
                        ></app-inputtext>
                      </div>
                      <div class="field col-12 md:col-4 lg:col-4 xl:col-4">
                        <app-inputtext
                          [labelName]="'Phone 2'"
                          [pKeyFilter]="'num'"
                          [(inputModel)]="manufacture.contactphone2"
                          [disabled]="!isEditable"
                          maxlength="10"
                        ></app-inputtext>
                      </div>
                      <div class="field col-12 md:col-4 lg:col-4 xl:col-4">
                        <app-inputtext
                          [labelName]="'postal Code'"
                          [pKeyFilter]="'num'"
                          [(inputModel)]="manufacture.contactpostalCode"
                          [disabled]="!isEditable"
                          maxlength="6"
                        ></app-inputtext>
                      </div>
                      <div class="field col-12 md:col-4 lg:col-4 xl:col-4">
                        <app-inputtext
                          [labelName]="'Fax'"
                          [pKeyFilter]="'alphanum'"
                          [(inputModel)]="manufacture.contactfax"
                          [disabled]="!isEditable"
                          maxlength="12"
                        ></app-inputtext>
                      </div>
                      <div class="field col-12 md:col-4 lg:col-4 xl:col-4">
                        <app-inputtext
                          [labelName]="'Contact Email'"
                          [(inputModel)]="manufacture.contactemail"
                          [disabled]="!isEditable"
                        ></app-inputtext>
                      </div>
                      <div class="field col-12 md:col-4 lg:col-4 xl:col-4">
                        <app-inputtext
                          [labelName]="'Web Site'"
                          [(inputModel)]="manufacture.contactwebsite"
                          [disabled]="!isEditable"
                        ></app-inputtext>
                      </div>
                    </div>
                  </div>
                </p-fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-scrollPanel>
</div>
<app-saving #saving></app-saving>
