<div class="">
  <div>
    <app-header
      [pageTitle]="pageTitle"
      [onSubmit]="onSubmit"
      [onGrid]="true"
      [onAddNew]="false"
      [onClear]="onClear"
      [onEdit]="onEdit"
      [onView]="onView"
      (submitClick)="onSaveClick()"
      (clearClick)="onClearClick()"
      [redirectToGrid]="redirectToGrid"
      #headers
    ></app-header>
  </div>

  <div class="div-padding">
    <div class="card">
      <p-scrollPanel
        [style]="{ width: '100%', height: ' calc(100vh - 120px)' }"
      >
        <div class="formgrid grid">
          <div class="col-12">
            <p-fieldset legend="Item Details" [toggleable]="true">
              <div class="formgrid grid">
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-inputtext [pKeyFilter]="'alpha'"
                    [labelName]="'Item Name'"
                    [(inputModel)]="newItem.itemName"
                    [disabled]="!isEditable"
                  ></app-inputtext>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-inputtext [pKeyFilter]="'alpha'"
                    [labelName]="'Short Name'"
                    [(inputModel)]="newItem.shortName"
                    [disabled]="!isEditable"
                    (onBlur)="onGetErrorMsgs('shortName', true)"
                    errorMessages="{{ errorMsgs.shortNameReq }}"
                  ></app-inputtext>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-dropdown
                    [labelName]="'Status'"
                    [options]="statusList"
                    [(inputModel)]="newItem.status"
                    [disabled]="pageMode != 'EDIT'"
                    [optionLabel]="'subMasterName'"
                    [optionValue]="'subMasterId'"
                  ></app-dropdown>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-dropdown
                    [labelName]="'Category'"
                    [(inputModel)]="newItem.category"
                    [optionLabel]="'categoryName'"
                    [optionValue]="'_id'"
                    [disabled]="!isEditable"
                    [options]="categoryList"
                    (onBlur)="onGetErrorMsgs('category', true)"
                    errorMessages="{{ errorMsgs.categoryReq }}"
                  ></app-dropdown>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-inputtext
                    [labelName]="'Generate Item Code'"
                    [(inputModel)]="newItem.generateItemCode"
                    [disabled]="!isEditable" [pKeyFilter]="'alphanum'"
                  ></app-inputtext>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-inputtext
                    [labelName]="'Custom Item Code'"
                    [(inputModel)]="newItem.customItemCode"
                    [disabled]="!isEditable" [pKeyFilter]="'alphanum'"
                  ></app-inputtext>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-lookup
                    [labelName]="'Manufacture'" [pKeyFilter]="'alpha'"
                    [(inputModel)]="newItem.manufacture"
                    [filteredOptions]="manufactureList"
                    [filterName]="'manufacturename'"
                    (onLoopUp)="onLoopUpAdd($event)"
                  ></app-lookup>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-inputtext
                    [labelName]="'Strength'" [pKeyFilter]="'alphanum'"
                    [(inputModel)]="newItem.strength"
                    [disabled]="!isEditable"
                  ></app-inputtext>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-dropdown
                    [labelName]="'Strength Units'"
                    [(inputModel)]="newItem.strengthUnits"
                    [disabled]="!isEditable"
                    [options]="strengthUnitsList"
                    [optionLabel]="'subMasterName'"
                    [optionValue]="'subMasterId'"
                  ></app-dropdown>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-dropdown
                    [labelName]="'Item From'"
                    [(inputModel)]="newItem.itemFrom"
                    [disabled]="!isEditable"
                    [options]="itemFromList"
                    [optionLabel]="'subMasterName'"
                    [optionValue]="'subMasterId'"
                  ></app-dropdown>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-inputtext
                    [labelName]="'Root'"
                    [(inputModel)]="newItem.root"
                    [disabled]="!isEditable"
                  ></app-inputtext>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-dropdown
                    [labelName]="'unit UOM'"
                    [(inputModel)]="newItem.unitUOM"
                    [disabled]="!isEditable"
                    [options]="unitUomList"
                    [optionLabel]="'subMasterName'"
                    [optionValue]="'subMasterId'"
                    (onChange)="onSelectUnitUom(newItem.unitUOM)"
                  ></app-dropdown>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-dropdown
                    [labelName]="'Package UOM'"
                    [(inputModel)]="newItem.packageUOM"
                    [disabled]="!isEditable"
                    [options]="packageUomList"
                    [optionLabel]="'packageUom'"
                    [optionValue]="'_id'"
                    (onChange)="onSelectPkgUOM(newItem.packageUOM)"
                  ></app-dropdown>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-inputtext
                    [labelName]="'Package Size'"
                    [(inputModel)]="newItem.packageSize"
                    [disabled]="true" 
                  ></app-inputtext>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-inputtext
                    [labelName]="'Package Type'" [pKeyFilter]="'alphanum'"
                    [(inputModel)]="newItem.packageType"
                    [disabled]="!isEditable"
                  ></app-inputtext>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-dropdown
                    [labelName]="'Consumption UOM'"
                    [(inputModel)]="newItem.consumptionUOM"
                    [disabled]="!isEditable"
                    [options]="consumptionUOMList"
                    [optionLabel]="'subMasterName'"
                    [optionValue]="'subMasterId'"
                  ></app-dropdown>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-inputtext
                    [labelName]="'Consumption Capacity'"
                    [(inputModel)]="newItem.consumptionCapacity"
                    [disabled]="!isEditable" [pKeyFilter]="'alphanum'"
                  ></app-inputtext>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-inputtext
                    [labelName]="'Generic Name'" [pKeyFilter]="'alpha'"
                    [(inputModel)]="newItem.genericName"
                    [disabled]="!isEditable"
                  ></app-inputtext>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-dropdown
                    [labelName]="'Service Group'"
                    [(inputModel)]="newItem.serviceGroup"
                    [disabled]="!isEditable"
                    [options]="serviceGrpList"
                    [optionLabel]="'servicegroupname'"
                    [optionValue]="'serviceGrpId'"
                    (onChange)="onServiceGrp(newItem.serviceGroup)"
                    (onBlur)="onGetErrorMsgs('serviceGroup', true)"
                    errorMessages="{{ errorMsgs.serviceGroupReq }}"
                  ></app-dropdown>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-dropdown
                    [labelName]="'Service Sub Group'"
                    [(inputModel)]="newItem.serviceSubGroup"
                    [disabled]="!isEditable"
                    [options]="serviceSubGrpList"
                    [optionLabel]="'servicesubgroupname'"
                    [optionValue]="'serviceSubGrpId'"
                    (onBlur)="onGetErrorMsgs('serviceSubGroup', true)"
                    errorMessages="{{ errorMsgs.serviceSubGroupReq }}"
                  ></app-dropdown>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-inputtext
                    [labelName]="'Max Cost Price'"[pKeyFilter]="'num'"
                    [(inputModel)]="newItem.maxCostPrice"
                    [disabled]="!isEditable"
                  ></app-inputtext>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-inputtext
                    [labelName]="'Supplier Name'" [pKeyFilter]="'alpha'"
                    [(inputModel)]="newItem.supplierName"
                    [disabled]="!isEditable"
                  ></app-inputtext>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-dropdown
                    [labelName]="'Preferred Supplier'"
                    [(inputModel)]="newItem.preferredSupplier"
                    [disabled]="!isEditable"
                    [options]="preferredSupplierList"
                    [optionLabel]="'subMasterName'"
                    [optionValue]="'subMasterId'"
                  ></app-dropdown>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-inputtext
                    [labelName]="'Invoice Details'"
                    [(inputModel)]="newItem.invoiceDetails"
                    [disabled]="!isEditable" [pKeyFilter]="'alphanum'"
                  ></app-inputtext>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-dropdown
                    [labelName]="'Control Type'"
                    [(inputModel)]="newItem.controlType"
                    [disabled]="!isEditable"
                    [options]="controlTypeList"
                    [optionLabel]="'subMasterName'"
                    [optionValue]="'subMasterId'"
                  ></app-dropdown>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-inputtext
                    [labelName]="'Insurence Category'"
                    [(inputModel)]="newItem.insurenceCategory"
                    [disabled]="!isEditable" 
                  ></app-inputtext>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-dropdown
                    [labelName]="'Pre Auth Required'"
                    [(inputModel)]="newItem.preAuthRequired"
                    [disabled]="!isEditable"
                    [options]="preAuthRequiredList"
                    [optionLabel]="'subMasterName'"
                    [optionValue]="'subMasterId'"
                  ></app-dropdown>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-dropdown
                    [labelName]="'Billing Group'"
                    [(inputModel)]="newItem.billingGroup"
                    [disabled]="!isEditable"
                    [options]="billingGroupList"
                    [optionLabel]="'subMasterName'"
                    [optionValue]="'subMasterId'"
                  ></app-dropdown>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-dropdown
                    [labelName]="'Tax Basis'"
                    [(inputModel)]="newItem.taxBasis"
                    [disabled]="!isEditable"
                    [options]="taxBasisList"
                    [optionLabel]="'subMasterName'"
                    [optionValue]="'subMasterId'"
                  ></app-dropdown>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-inputtext
                    [labelName]="'Tax (%)'"
                    [(inputModel)]="newItem.tax"
                    [disabled]="!isEditable" [pKeyFilter]="'num'"
                  ></app-inputtext> 
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-inputtext
                    [labelName]="'Bin / Rack'"
                    [(inputModel)]="newItem.binRack"
                    [disabled]="!isEditable" [pKeyFilter]="'alphanum'"
                  ></app-inputtext>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-dropdown
                    [labelName]="'Batch Number Applicable'"
                    [(inputModel)]="newItem.batchNumberApplicable"
                    [disabled]="!isEditable"
                    [options]="allowStatusList"
                    [optionLabel]="'subMasterName'"
                    [optionValue]="'subMasterId'"
                  ></app-dropdown>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-inputtext
                    [labelName]="'Item Selling Price'"
                    [(inputModel)]="newItem.itemSellingPrice"
                    [disabled]="!isEditable" [pKeyFilter]="'num'"
                  ></app-inputtext>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-dropdown
                    [labelName]="'High Cost Consumables'"
                    [(inputModel)]="newItem.highCostConsumables"
                    [disabled]="!isEditable"
                    [options]="allowStatusList"
                    [optionLabel]="'subMasterName'"
                    [optionValue]="'subMasterId'"
                  ></app-dropdown>
                </div>
                <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                  <app-dropdown
                    [labelName]="'Allow Zero Calim Amount'"
                    [(inputModel)]="newItem.allowZeroCalimAmnt"
                    [disabled]="!isEditable"
                    [options]="allowStatusList"
                    [optionLabel]="'subMasterName'"
                    [optionValue]="'subMasterId'"
                  ></app-dropdown>
                </div>
              </div>
            </p-fieldset>
          </div>
          <div class="col-12 p-2">
            <div class="card">
              <!-- <p-fieldset legend="Store Item List" [toggleable]="true"> -->
              <div
                *ngFor="let store of newItem.storeWise; let rowIndex = index"
              >
                <div class="formgrid grid">
                  <div class="field col-12 md:col-3 sm:col-6 lg:col-2 xl:col-2">
                    <app-dropdown
                      [(inputModel)]="store.store"
                      [disabled]="!isEditable"
                      [labelName]="'Store'"
                      [options]="storeList"
                      [optionLabel]="'store'"
                      [optionValue]="'storemasterid'"
                      (onChange)="onStoreChange(store.store, rowIndex)"
                    ></app-dropdown>
                  </div>
                  <div class="field col-12 md:col-3 sm:col-3 lg:col-2 xl:col-2">
                    <app-inputtext [labelName]="'Bin / Rank'"></app-inputtext>
                  </div>
                  <div class="field col-12 md:col-3 sm:col-6 lg:col-2 xl:col-2">
                    <app-inputtext [labelName]="'Danger Level'"></app-inputtext>
                  </div>
                  <div class="field col-12 md:col-3 sm:col-6 lg:col-2 xl:col-2">
                    <app-inputtext [labelName]="'Min Level'"></app-inputtext>
                  </div>
                  <div class="field col-12 md:col-3 sm:col-6 lg:col-2 xl:col-2">
                    <app-inputtext [labelName]="'Record Level'"></app-inputtext>
                  </div>
                  <div class="field col-12 md:col-3 sm:col-6 lg:col-1 xl:col-1">
                    <app-inputtext [labelName]="'Max Level'"></app-inputtext>
                  </div>
                  <div class="field col-12 md:col-3 sm:col-6 lg:col-1 xl:col-1">
                    <span class="btn addtimeIcon addNewBtn">
                      <i class="pi pi-plus-circle" (click)="onAddStoreItem()">
                      </i>
                    </span>
                    <span class="btn remtimeIcon remNewBtn">
                      <i
                        class="pi pi-minus-circle"
                        (click)="onRemoveStoreItem(rowIndex)"
                      >
                      </i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 md:col-9 sm:col-12 lg:col-7 xl:col-7">
            <div class="card">
              <div *ngFor="let tax of newItem.taxlist; let rowIndex = index">
                <div class="formgrid grid">
                  <div class="field col-12 md:col-3 sm:col-6 lg:col-4 xl:col-4">
                    <app-dropdown
                      [(inputModel)]="tax.taxGrpType"
                      [disabled]="!isEditable"
                      [options]="taxGrpTypeList"
                      [optionLabel]="'subMasterName'"
                      [labelName]="'Tax'"
                      [optionValue]="'subMasterId'"
                    ></app-dropdown>
                  </div>
                  <div class="field col-12 md:col-4 sm:col-6 lg:col-3 xl:col-3">
                    <app-dropdown
                      [(inputModel)]="tax.taxGrp"
                      [disabled]="!isEditable"
                      [options]="taxGroupList"
                      [optionLabel]="'taxgroup'"
                      [optionValue]="'taxGrpId'"
                      [labelName]="'Tax Group'"
                      (onChange)="onTaxGrp(tax.taxGrp, rowIndex)"
                    ></app-dropdown>
                  </div>
                  <div class="field col-12 md:col-4 sm:col-6 lg:col-4 xl:col-4">
                    <app-dropdown
                      [(inputModel)]="tax.taxSubGrp"
                      [disabled]="!isEditable"
                      [options]="tax.taxSubGroupList"
                      [optionLabel]="'taxsubgroup'"
                      [labelName]="'Tax Sub Group'"
                      [optionValue]="'taxSubGrpId'"
                    ></app-dropdown>
                  </div>
                  <div class="field col-12 md:col-1 sm:col-6 lg:col-1 xl:col-1">
                    <span class="btn addtimeIcon addNewBtn">
                      <i class="pi pi-plus-circle" (click)="onAddTaxItem()">
                      </i>
                    </span>
                    <span class="btn remtimeIcon remNewBtn">
                      <i
                        class="pi pi-minus-circle"
                        (click)="onRemoveTaxItem(rowIndex)"
                      >
                      </i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-scrollPanel>
    </div>
  </div>
</div>
<app-saving #saving></app-saving>
