<div class="">
  <div>
    <app-header
      [pageTitle]="pageTitle"
      [onSubmit]="onSubmit"
      [onGrid]="true"
      [onAddNew]="false"
      [onClear]="onClear"
      [onEdit]="onEdit"
      [onView]="onView"
      (submitClick)="onSaveClick()"
      (clearClick)="onClearClick()"
      [redirectToGrid]="redirectToGrid"
      #headers
    ></app-header>
  </div>

  <div class="div-padding">
    <p-scrollPanel [style]="{ width: '100%', height: ' calc(100vh - 164px)' }">
      <div class="formgrid grid">
        <div class="field col-7">
          <p-fieldset legend="Supplier" [toggleable]="true">
            <div class="formgrid grid">
              <div class="field col-12 md:col-8 sm:col-10 lg:col-4 xl:col-4">
                <app-inputtext
                  [labelName]="'Supplier Name'"
                  [(inputModel)]="supplier.supplierName"
                  (onBlur)="onGetErrorMsgs('supplierName', true)"
                  errorMessages="{{ errorMsgs.supplierNameReq }}"
                  [disabled]="!isEditable"
                ></app-inputtext>
              </div>
              <div class="field col-12 md:col-8 sm:col-10 lg:col-4 xl:col-4">
                <app-inputtext
                  [labelName]="'Supplier Code'"
                  [(inputModel)]="supplier.suppliercode"
                  [disabled]="!isEditable"
                ></app-inputtext>
              </div>
              <div class="field col-12 md:col-8 sm:col-10 lg:col-4 xl:col-4">
                <app-dropdown
                  [labelName]="'Status'"
                  [options]="statusList"
                  [(inputModel)]="supplier.status"
                  [optionLabel]="'subMasterName'"
                  [optionValue]="'subMasterId'"
                ></app-dropdown>
              </div>
              <div class="field col-12 md:col-8 sm:col-10 lg:col-4 xl:col-4">
                <app-dropdown
                  [labelName]="'Register Supplier'"
                  [options]="registerSupplierList"
                  [(inputModel)]="supplier.registeredsupplier"
                  (onBlur)="onGetErrorMsgs('registeredsupplier', true)"
                  errorMessages="{{ errorMsgs.registeredsupplierReq }}"
                  [disabled]="!isEditable" [optionLabel]="'subMasterName'"
                  [optionValue]="'subMasterId'"
                ></app-dropdown>
              </div>
              <div class="field col-12 md:col-8 sm:col-10 lg:col-4 xl:col-4">
                <app-dropdown
                  [labelName]="'Supplier Category'"
                  [options]="supplierList"
                  [(inputModel)]="supplier.supplierCategory"
                  [disabled]="!isEditable"
                  [optionLabel]="'categoryname'"
                  [optionValue]="'_id'"
                ></app-dropdown>
              </div>
              <div class="field col-12 md:col-8 sm:col-10 lg:col-4 xl:col-4">
                <app-inputtext
                  [labelName]="'GSTIN Number'"
                  [(inputModel)]="supplier.supplierGSTINNumber"
                  (onBlur)="
                    _service.onGetErrorMsgs(supplier, 'GSTINNumber', true)
                  "
                  errorMessages="{{
                    this._service.errorMsgs.supplierGSTINNumber
                  }}"
                  [disabled]="!isEditable"
                ></app-inputtext>
              </div>
              <div class="field col-12 md:col-8 sm:col-10 lg:col-4 xl:col-4">
                <app-inputtext
                  [labelName]="'Credite Periode (Days)'"
                  [(inputModel)]="supplier.suppliercreditPeriod"
                  [disabled]="!isEditable"
                ></app-inputtext>
              </div>
              <div class="field col-12 md:col-8 sm:col-10 lg:col-4 xl:col-4">
                <app-inputtext
                  [labelName]="'Drug License Number'"
                  [disabled]="!isEditable"
                  [(inputModel)]="supplier.supplierdrugLicenseNo"
                ></app-inputtext>
              </div>
              <div class="field col-12 md:col-8 sm:col-10 lg:col-4 xl:col-4">
                <app-inputtext
                  [labelName]="'PAN No.'"
                  [disabled]="!isEditable"
                  [(inputModel)]="supplier.supplierPANNo"
                ></app-inputtext>
              </div>
              <div class="field col-12 md:col-8 sm:col-10 lg:col-4 xl:col-4">
                <app-inputtext
                  [labelName]="'Corparate Identification Number (CIN)'"
                  [(inputModel)]="supplier.suppliercorporteIdentificationNumber"
                  [disabled]="!isEditable"
                ></app-inputtext>
              </div>
              <div class="field col-12 md:col-8 sm:col-10 lg:col-4 xl:col-4">
                <app-dropdown
                  [labelName]="'Apply TCS PO Stock Entry'"
                  [options]="tcsPoStockEntryList"
                  [(inputModel)]="supplier.supplierapplyTCSforPOStockEntry"
                  [disabled]="!isEditable" [optionLabel]="'subMasterName'"
                  [optionValue]="'subMasterId'"
                ></app-dropdown>
              </div>
            </div>
          </p-fieldset>
        </div>
        <div class="field col-3">
          <p-fieldset legend="Region" [toggleable]="true">
            <app-inputtext
              [labelName]="'City'"
              [(inputModel)]="supplier.regioncity"
              [disabled]="!isEditable"
            ></app-inputtext>
            <app-inputtext
              [labelName]="'State'"
              [disabled]="!isEditable"
              [(inputModel)]="supplier.regionstate"
            ></app-inputtext>
            <app-inputtext
              [labelName]="'Country'"
              [disabled]="!isEditable"
              [(inputModel)]="supplier.regioncountry"
            ></app-inputtext>
          </p-fieldset>
        </div>
      </div>

      <div class="formgrid grid">
        <div class="field col-7">
          <p-fieldset legend="Contact" [toggleable]="true">
            <div class="formgrid grid">
              <div class="field col-10">
                <app-textarea
                  [labelName]="'Address'"
                  [(inputModel)]="supplier.contactaddress"
                  [disabled]="!isEditable"
                ></app-textarea>
              </div>
              <div class="field col">
                <app-inputtext
                  [labelName]="'Phone 1'"
                  [(inputModel)]="supplier.contactphone1"
                  [disabled]="!isEditable"
                ></app-inputtext>
              </div>
              <div class="field col">
                <app-inputtext
                  [labelName]="'Phone 2'"
                  [(inputModel)]="supplier.contactphone2"
                  [disabled]="!isEditable"
                ></app-inputtext>
              </div>
              <div class="field col">
                <app-inputtext
                  [labelName]="'postal Code'"
                  [(inputModel)]="supplier.contactpostalCode"
                  [disabled]="!isEditable"
                ></app-inputtext>
              </div>
              <div class="field col">
                <app-inputtext
                  [labelName]="'Fax'"
                  [(inputModel)]="supplier.contactfax"
                  [disabled]="!isEditable"
                ></app-inputtext>
              </div>
              <div class="field col">
                <app-inputtext
                  [labelName]="'Contact Email'"
                  [(inputModel)]="supplier.contactemail"
                  [disabled]="!isEditable"
                ></app-inputtext>
              </div>
              <div class="field col">
                <app-inputtext
                  [labelName]="'Web Site'"
                  [(inputModel)]="supplier.contactwebsite"
                  [disabled]="!isEditable"
                ></app-inputtext>
              </div>
            </div>
          </p-fieldset>
        </div>
        <div class="field col-4">
          <p-fieldset legend="Help Desk" [toggleable]="true">
            <app-inputtext
              [labelName]="'Name'"
              [disabled]="!isEditable"
              [(inputModel)]="supplier.helpdeskname"
            ></app-inputtext>
            <app-inputtext
              [labelName]="'PH No.'"
              [disabled]="!isEditable"
              [(inputModel)]="supplier.helpdeskphno"
            ></app-inputtext>
            <app-inputtext
              [labelName]="'Email'"
              [disabled]="!isEditable"
              [(inputModel)]="supplier.helpdeskemail"
            ></app-inputtext>
          </p-fieldset>
        </div>
      </div>
    </p-scrollPanel>
  </div>
</div>
<app-saving #saving></app-saving>
