<div class="">
  <div>
    <app-header
    [pageTitle]="pageTitle"
    [onSubmit]="onSubmit"
    [onGrid]="true"
    [onAddNew]="false"
    [onClear]="onClear"
    [onEdit]="onEdit"
    [onView]="onView"
    (submitClick)="onSaveClick()"
    (clearClick)="onClearClick()"
    [redirectToGrid]="redirectToGrid"
    #headers
  ></app-header>
  </div>
 
    <div class="div-padding">
      <div class="card">
      <p-scrollPanel
      [style]="{ width: '100%', height: ' calc(100vh - 120px)' }"
    
    >
      <div class="field col-12 md:col-6 sm:col-6 lg:col-3 xl:col-3">
        <app-inputtext
          [labelName]="'Suplier Category Name'"
          [(inputModel)]="supplierCategory.categoryname"
          (onBlur)="onGetErrorMsgs('categoryname', true)"
          errorMessages="{{errorMsgs.categorynameReq}}"
          [disabled]="!isEditable"  pKeyFilter="alpha"
        ></app-inputtext>
      <!-- </div>
      <div class="field col-12 md:col-5 sm:col-4 lg:col-3 xl:col-3"> -->
        <app-dropdown
        [labelName]="'Status'"
        [options]="statusList"
        [(inputModel)]="supplierCategory.status"
        [optionLabel]="'subMasterName'"
        [optionValue]="'subMasterId'" [disabled]="pageMode !='EDIT'" 
        ></app-dropdown>
      <!-- </div>
      <div class="field col-12 md:col-5 sm:col-4 lg:col-3 xl:col-3"> -->
        <app-textarea
          [labelName]="'Suplier Category Description'"
          [(inputModel)]="supplierCategory.categorydescription"
          [disabled]="!isEditable"
        ></app-textarea>
      </div>
    </p-scrollPanel>
    </div>
  </div>
</div>
<app-saving #saving></app-saving>
