/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
  
/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ececec;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: silver;
  border-radius: 10px;
}

small{
 color:  red;
}

layout-topbar-logo{
  color: rgb(26, 26, 88);
}
.div-padding{
  padding: 0.5rem ;
  }
  .card {
    padding: 0.5rem !important ;
  }
//  :host .p-dialog {
//   max-height: 100% !important ;
//   }
.reg-img-view{
  background: var(--primary-100);
  padding: 4px 10px;
  border: 1px solid var(--primary-300);
  border-radius: 4px;
  font-size: 1.1rem;
  color: var(--primar-color);
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

.reg-img-view a i {
  font-size: 1.2rem;
  color: var(--primar-color);
}
.mobile-view-stack-header-color {
 color: var(--primary-500) !important ;
}

.p-datatable .p-sortable-column .p-icon-wrapper {
  color: white !important ;
}
.p-button {
  background-color: var(--primary-400)!important;
  color: white !important;
}
.p-calendar-w-btn .p-datepicker-trigger.p-button .p-icon {
  color: white !important;
width: 16px;
height: 16px;
}
.btn {
  border: none;
  width: 32px; /* Adjust width as needed */
  height: 32px; /* Adjust height as needed */
  display: inline-block;
}

.addtimeIcon {
  background: #03a203;
  color: #fff;
  border-radius: 50%; /* Makes it round */
  display: flex;
  justify-content: center;
  align-items: center;
}

.addtimeIcon i {
  font-size: 20px; /* Adjust the font size of the icon */
  color: #fff !important;
}

.addNewBtn {
  padding: 4px 8px; /* Adjust padding as needed */
  font-weight: 600;
  margin: 0;
  text-decoration: none;
  color: #000;
}
.remtimeIcon {
  background: #e73509;
  color: #fff;
  border-radius: 50%; /* Makes it round */
  display: flex;
  justify-content: center;
  align-items: center;
}
.remtimeIcon i {
  font-size: 20px; /* Adjust the font size of the icon */
  color: #fff !important;
}