/* You can add global styles to this file, and also import other style files */
/* @import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css"; */
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/mdc-light-indigo/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeflex/primeflex.css";

/* @import "assets" */

html {
    font-size: 14px;
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}
   
.flex {
    display: flex!important;
}

.flex-column {
    flex-direction: column!important;
}

.header_text {
    background-color: #2db386;
    padding: 3px;
  }
  
  .scrollpannel{
   width: '100%';
    height:' calc(100vh - 136px)' 
  }

  .grid-selected-row{
    background-color: green;
  }
  .gridscrollheight{
    height: calc(100vh - 181px);
    border: 1px solid rgb(225 225 225);
  }
  .dropdownwidth{
    width: 100%!important;
  }
  .icon-desable{
    color: red !important;
  }
  .div-padding{
  padding: 1rem;
  border: 1px solid #cfc2c2;
  }
  .div-padding-fieldset{
    padding: 0.5rem;
    border: 1px solid #cfc2c2;
    }
  .errorMessages{
    color: red;
  }
  
  .formgroup-inline{
    align-items: center !important;
    padding-right: 0.5rem !important;
  }
  .div-padding-login{
    padding: 1rem;
  border: 1px solid #cfc2c2;
  }
  